<div class="row">
    <div class="col-md-8">
        <div class="media">
            <br />
            
            <% avatar_url = @user.avatar_url(128) %>
            <% if avatar_url %>
                <div class="media-left">
                    <%= image_tag avatar_url, class: 'media-object' %>
                </div>
            <% end %>
            <div class="media-body">
                <h2 class="media-heading"><%= @user.name %></h2>
                <small>
                    <%= pluralize(@user.posts.count, 'post') %>
                    <%= pluralize(@user.comments.count, 'comment') %>
                </small>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <% if has_posts_or_comments?(@user) == 1 || has_posts_or_comments?(@user) == 3 %>
            <h3>Posts</h3>
        <% else %>
            <p><%= "#{@user.name} has not submitted any posts yet" %></p>
        <% end %>
        <%= render @user.posts %>
    
        <% if has_posts_or_comments?(@user) == 2 || has_posts_or_comments?(@user) == 3 %>
            <h3>Comments</h3>
        <% else %>
            <p><%= "#{@user.name} has not submitted any comments yet" %></p>
        <% end %>
        <%= render @user.comments %>
    </div>
</div>

<% if @user.favorites.any? %>
    <div class="col-md-12">
        <h3>Favorited</h3>
        <% @user.favorites.each do |favorite| %>
            <%= render partial: 'favorites/favorited', locals: {favorite: favorite } %>
        <% end %>
    </div>
<% end %>