<div>
    <%= render partial: 'votes/voter', locals: { post: @post } %>
    <h1>
        <div class="col-md-8">
            <%= @post.title %>
            <% if user_has_voted?(@post) %>
                <span class="glyphicon glyphicon-ok-circle voted-post-glyph" title="you have voted on this"></span>
            <% end %>
            <% if user_is_authorized_for_post?(@post) %>
                <%= link_to "", edit_topic_post_path(@post.topic, @post), class:"glyphicon glyphicon-edit glyphicon-post", title: "edit post" %>
                <% if user_is_authorized_to_destroy?(@post) %>
                    <%= link_to "", [@post.topic, @post], method: :delete, class:"glyphicon glyphicon-trash glyphicon-post", title: "delete post", data: {confirm: 'Are you sure you\'d like to delete this post?'}  %>
                <% end %>
            <% end %>
        </div>
    <div class="col-md-2">
        <h3>
            <%= pluralize(@post.points, 'point') %>
            <div>
                <small>
                    <%= pluralize(@post.up_votes, 'up vote') %>, <%= pluralize(@post.down_votes, 'down vote') %>
                </small>
            </div>
        </h3>    
    </div>
        <small class="col-md-8">
            submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %>
        </small>
    </h1>
</div>
<div class="row">
    <div class="col-md-8">
        <h4>
            <p><%= @post.body %></p>
        </h4>
        <div>
            <h3>Comments</h3>
            <%= render @post.comments %>
        </div>
        <% if current_user %>
            <%= render 'comments/form', comment: Comment.new, post: @post %>
        <% end %>
    </div>
</div>