<h1>
    <%= @post.title %>
    <% if user_is_authorized_for_post?(@post) %>
        <%= link_to "", edit_topic_post_path(@post.topic, @post), class:"glyphicon glyphicon-edit glyphicon-post", title: "edit" %>
        <% if user_is_authorized_to_destroy?(@post) %>
            <%= link_to "", [@post.topic, @post], method: :delete, class:"glyphicon glyphicon-trash glyphicon-post", title: "delete", data: {confirm: 'Are you sure you\'d like to delete this post?'}  %>
        <% end %>
    <% end %>
    <br>
    <small>
        submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %>
    </small>
</h1>

<div class="row">
    <div class="col-md-8">
        <p><%= @post.body %></p>
    </div>
</div>